<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Visitor</title>
        <link rel="stylesheet" href="./stylesheets/style.css" />
    </head>
    <body>
        <main>
            <h1>You are Visitor #<span><%= views %></span></h1>
            <h2>"<%= message %>"</h2>
            <a class="reset" href="/reset">Reset</a>
            <a class="repeat" href="/repeat">Repeat</a>
        </main>
    </body>
</html>
