<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cinema</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="../stylesheets/style.css"
        />
    </head>
    <body>
        <section>
            <div>
                <h3>Sm Cinema</h3>
                <img src="../images/sm.png" alt="Sm Mall" />
            </div>
            <div>
                <h3>Ayala Malls Cinemas</h3>
                <img src="../images/ayala.png" alt="Ayala Mall" />
            </div>
            <div>
                <h3>Up Town Center Cinema</h3>
                <img src="../images/uptown.jpg" alt="Up Town Center" />
            </div>
            <div>
                <h3>Robinsons Movie World</h3>
                <img src="../images/robinsons.jpg" alt="Robinsons Mall" />
            </div>
        </section>
    </body>
</html>
