<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Express Feedback Form</title>
        <link rel="stylesheet" href="./stylesheets/result.css" />
    </head>
    <body>
        <main>
            <h1>Submitted Entry</h1>
            <p>Your Name (optional): <span><%= name %></span></p>
            <p>Course Title: <span><%= course_title %></span></p>
            <p>Given Score (1-10): <span><%= score %></span></p>
            <p id="reason">Reason: <span><%= reason %></span></p>
            <a href="/" class="back">Go back</a>
        </main>
    </body>
</html>
