<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EJS Awards</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
    </head>
    <body>
        <h1>Achievements Unlocked!</h1>
        <section>
            <a href="/web-fundamentals"
                ><img src="./images/web.png" alt="web-fundamentals"
            /></a>
            <a href="/php-exam"
                ><img src="./images/php.png" alt="php-award"
            /></a>
        </section>
    </body>
</html>
