body {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
#colorChoices {
    display: flex;
}
.box {
    padding: 1.3rem 2.5rem;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}
#resetButton {
    padding: 0.8em 2em;
    border: 2px solid #000;
}
#green {
    background-color: #b6d6a8;
}
#blue {
    background-color: #9fc4f7;
}
#purple {
    background-color: #b4a6d5;
}
