<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Express Free Coupons</title>
        <link rel="stylesheet" href="./stylesheets/style.css" />
    </head>
    <body>
        <main>
            <h1>Welcome Customer!</h1>
            <p>
                We're giving away <span>free coupons</span> as token of
                appreciation
            </p>
            <div id="coupons">
                <% if (counter <= 0) { %>
                <h3>Sorry!</h3>
                <h2>Unavailable</h2>
                <a href="/reset" id="reset">Reset count</a>
                <a href="/claim" id="claim">Claim again</a>
                <% } else { %>
                <h3>50% Discount</h3>
                <h2><%= Math.floor(Math.random() * 9000000) + 1000000 %></h2>
                <a href="/reset" id="reset">Reset count</a>
                <a href="/claim" id="claim">Claim again</a>
                <% } %>
            </div>
        </main>
    </body>
</html>
